@use '@/app/styles/core/variables' as *;

.sectionLabelInfo {
    margin-top: 0;
}

.information {
    background: $color-black;

    h2 {
        color: $color-white;
        margin-top: 12px;
    }
}

.mobileHeading {
    margin-top: 12px;
}

.faqPart {
    margin-top: 60px;
}

.haveQuestion {
    margin-top: 60px;
}

.noAnswer {
    padding: 24px 24px 40px 24px;
    border-radius: 36px;
    background: $color-black90;
}

.noAnswerIcon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.noAnswerTitle {
    margin: 24px 0 0 0;
    font-family: $font-bion;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -5%;
    text-transform: uppercase;
    text-align: center;
}

.noAnswerText {
    margin: 14px 0 0 0;
    text-align: center;
}

.noAnswerButton {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    a {
        min-width: 100px;
    }
}

.haveQuestionTextPart {
    display: none;
}

@media only screen and (min-width: $break-point-tablet) {
    .mobileHeading {
        display: none;
    }

    .informationWrapper {
        display: flex;
        flex-direction: row-reverse;
        gap: 24px;
    }

    .faqPart {
        margin: 0;
        width: calc(50% - 12px);
    }

    .haveQuestion {
        margin: 0;
        width: calc(50% - 12px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 40px;
    }

    .noAnswer {
        max-width: 380px;
    }

    .haveQuestionTextPart {
        display: block;

        h2 {
            margin: 0;
        }
    }

    .haveQuestionLabel {
        margin-top: 12px;
    }
}

@media only screen and (min-width: $break-point-small) {
    .haveQuestionLabel {
        margin-top: 24px;
    }

    .noAnswerButton {
        button {
            display: none !important;
        }
    }
}

@media only screen and (min-width: $break-point-medium) {
    .informationWrapper {
        gap: 24px;
    }
}

@media only screen and (min-width: $break-point-normal) {
    .noAnswer {
        padding: 32px 32px 40px 32px;
    }

    .noAnswerTitle {
        margin: 28px 0 0 0;
        font-size: 38px;
    }

    .noAnswerButton {
        margin-top: 28px;
    }
}

@media only screen and (min-width: $break-point-full-style) {
    .noAnswerTitle {
        margin: 32px 0 0 0;
        font-size: 42px;
    }

    .noAnswerButton {
        margin-top: 32px;
    }
}