@use '@/app/styles/core/variables' as *;

.rules {
    background: $color-bg-black;
    padding-top: 60px;
    padding-bottom: 80px;
}

.loader {
    font-family: $font-bion;
    font-weight: 700;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -6%;
    text-transform: uppercase;
    color: $color-white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
        margin: 0;
    }
}

.words {
    overflow: hidden;
    position: relative;
    height: 100%;
    margin-left: 8px;

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            #000 10%,
            transparent 30%,
            transparent 70%,
            #000 90%
        );
        z-index: 20;
    }
}

.wordsWrapper {
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    animation: spin 8s infinite;
}

.word {
    display: block;
    color: $color-white;
    align-items: center;
    // transform: translateY(-66%);
    height: 46px;
    // animation: spin_4991 10s infinite;
}

.divider {
    margin-top: 40px;
    div {
        height: 1px;
        background: url('/svg/divider-horizontal.svg') repeat center center;
    }
    
}

@keyframes spin {
    0% {
        transform: translateY(-20px);
    }

    17% {
        transform: translateY(-70px);
    }

    34% {
        transform: translateY(-68px);
    }

    52% {
        transform: translateY(-118px);
    }

    67% {
        transform: translateY(-116px);
    }

    86% {
        transform: translateY(-164px);
    }

    100% {
        transform: translateY(-162px);
    }
}

@keyframes spin_4991 {
  10% {
    transform: translateY(-102%);
  }

  20% {
    transform: translateY(-100%);
  }

  30% {
    transform: translateY(-202%);
  }

  40% {
    transform: translateY(-200%);
  }

  50% {
    transform: translateY(-302%);
  }

  60% {
    transform: translateY(-300%);
  }

  70% {
    transform: translateY(-402%);
  }

  80% {
    transform: translateY(-400%);
  }

  90% {
    transform: translateY(-502%);
  }

  100% {
    transform: translateY(-500%);
  }
    // 10% {
    //     transform: translateY(0);
    // }

    // 100% {
    //     transform: translateY(-100%);
    // }
}

.textPart {
    padding-top: 40px;
    position: relative;

    h2 {
        margin: 0;
        text-align: center;
        color: $color-white;
        font-size: 32px;
    }

    p {
        margin: 24px 0 0 0;
        text-align: center;
    }
}

.rulesButton {
    margin-top: 24px;
    width: 100%;
}

@media only screen and (min-width: $break-point-tablet) {
    .rulesWrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 24px;
    }

    .loaderWrapper {
        display: flex;
        align-items: center;
        width: 50%;
    }

    
    .textPart {
        width: 50%;
        margin-top: 0;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;

        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .divider {
        width: 1px;
        flex-shrink: 0;

        div {
            height: 100%;
            background: url('/svg/divider-vertical.svg') repeat-y center center;
        }
    }
}

@media only screen and (min-width: $break-point-small) {
    .rules {
        padding-top: 80px;
    }   

    .loaderWrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .loader {
        font-size: 60px;
        height: 140px;
    }

    .textPart {
        p {
            margin-top: 28px;
        } 

        h2 {
            font-size: 40px;
        }
    }

    .rulesButton {
        margin-top: 28px;
        width: auto;
    }

    .wordsWrapper {
        transform: translateY(-19px);
    }

    .word {
        height: 60px;
    }

    @keyframes spin {
        0% {
            transform: translateY(-19px);
        }

        17% {
            transform: translateY(-83px);
        }

        34% {
            transform: translateY(-81px);
        }

        52% {
            transform: translateY(-143px);
        }

        67% {
            transform: translateY(-141px);
        }

        86% {
            transform: translateY(-204px);
        }

        100% {
            transform: translateY(-202px);
        }
    }
}

@media only screen and (min-width: $break-point-normal) {
    .rules {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .loaderWrapper {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 600px;
    }

    .loader {
        font-size: 80px;
        height: 160px;
    }

    .textPart {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 600px;

        p {
            margin-top: 32px;
        } 

        h2 {
            font-size: 44px;
        }
    }

    .rulesButton {
        margin-top: 32px;
    }

    .words {
        margin-left: 12px;
    }

    .word {
        height: 74px;
    }

    .wordsWrapper {
        transform: translateY(-32px);
    }

    @keyframes spin {
        0% {
            transform: translateY(-32px);
        }

        17% {
            transform: translateY(-109px);
        }

        34% {
            transform: translateY(-107px);
        }

        52% {
            transform: translateY(-186px);
        }

        67% {
            transform: translateY(-184px);
        }

        86% {
            transform: translateY(-262px);
        }

        100% {
            transform: translateY(-260px);
        }
    }
}

@media only screen and (min-width: $break-point-full-style) {
    .rules {
        padding-top: 112px;
        padding-bottom: 112px;
    } 
    
    .loaderWrapper {
        padding-left: 66.5px;
        padding-right: 66.5px;
        max-width: 800px;
    }

    .textPart {
        max-width: 800px;
        padding-left: 95px;
        padding-right: 95px;

        h2 {
            font-size: 52px;
        }
    }

    .loader {
        font-size: 100px;
        height: 192px;
    }

    .textPart {
        p {
            margin-top: 40px;
        } 
    }

    .rulesButton {
        margin-top: 40px;
    }
}