@use '@/app/styles/core/variables' as *;

.socials {
	display: flex;
	justify-content: center;
	column-gap: 12px;

	a {
		display: block;
		width: 44px;
		height: 44px;
        
        .hoverRect, .hoverPath {
            transition: fill 0.3s;
        }

        &:hover {
            .hoverRect {
                fill: $color-black90;
            }

            .hoverPath {
                fill: $color-white;
            }
        }
	}
}

@media only screen and (min-width: $break-point-small) {
    .socials {
        column-gap: 16px;

        a {
            width: 50px;
            height: 50px;
        }
    }   
}

@media only screen and (min-width: $break-point-full-style) {
    .socials {
        column-gap: 20px;

        a {
            width: 60px;
            height: 60px;
        }
    }   
}