@use '@/app/styles/core/variables' as *;

.footer {
    padding: 8px;
}

.footerWrapper {
    border-radius: 36px;
    padding: 24px 24px 32px 24px;
    background: $color-black90;
}

@media only screen and (min-width: $break-point-tablet) {
  
}

@media only screen and (min-width: $break-point-small) {
    .footer {
        padding: 40px 20px 40px 20px;
    }

    .footerWrapper {
        border-radius: 30px;
        padding: 28px;
    }
}

@media only screen and (min-width: $break-point-medium) {
   
}

@media only screen and (min-width: $break-point-normal) {
    .footer {
        padding: 80px 40px 80px 40px;
    }

    .footerWrapper {
        padding: 32px;
    }
}

@media only screen and (min-width: $break-point-full-style) {
    .footer {
        padding: 112px 40px 40px 40px;
    }

    .footerWrapper {
        padding: 40px;
    }
}